@import '../../../components/landing-page/landing-globals.css';

.fullPageEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

